h1{
    font-size: 18px !important;
}

.btn-success:hover{
    background-color: darkgreen;
}

canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example{
    from{box-shadow: 1px 1px 30px red}
    to{box-shadow: 1px 1px 30px yellow}
}